<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wilcox Technologies" %></title>
    <%= csrf_meta_tags %>
    <% if content_for?(:meta_desc) %><meta name="description" value="<%= yield(:meta_desc) %>"><% end %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28082705-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </head>
  <body <%= content_for?(:body_tag) ? "id=#{content_for :body_tag}" : "" %>>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">&nbsp;</a>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <li><%= link_to "Meet the Team", "/about/team"  %></li>
              <li><%= link_to "About Us", "/about"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <% if content_for?(:sidebar) %>
            <div class="span9">
              <%= yield %>
            </div>
            <div class="span3">
              <div class="well sidebar-nav">
                <%= yield :sidebar %>
              </div><!--/.well -->
            </div><!--/span-->
          <% else %>
            <div class="span12">
              <%= yield %>
            </div>
          <% end %>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; <%= Time.now.year %> Wilcox Technologies, LLC</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
